body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
h1{font-size: 30px;}
.name-highlight{color:orange;}
.half-width{
    width: 40%;
    float: left;
    margin: 10%;
    padding: 5px;;
}
.half-width img{width: 300px; height: auto;
}
.top-banner{height: 500px;border: 1px solid red;margin-bottom: 10px;}
second-widht{width: 40%;float: left;margin: 10%;padding: 5px;}